body{
  background:  #dddddd url(../images/pidgeon-background.jpg);
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 18px;
  padding-top: 15px;
  border-radius: 10px;
}

h1{
  font-size: 2em;
  line-height: 1.5;
  color: #c12258;
}

a{
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}

*:focus{
  border: 1px solid red;
}

table{
  border-collapse: separate;
  border: 2px solid black;
  border-spacing: 0;
  border-radius: 10px;
}

tbody{
  border: 2px solid black;
  border-radius: 10px;
}

thead{
  border: 2px solid black;
  border-radius: 10px;
}

thead:first-child, thead:last-child{
  border-radius: 10px;
}

tr{
  text-align: center;
  border-bottom: 2px solid black;
  padding: 15px;
}

tr:nth-child(even){
  background: #dddddd;
}

thead th:first-child{
  border-top-left-radius: 10px;
}

thead th:last-child{
  border-top-right-radius: 10px;
}

tbody td:last-child{
  border-bottom-right-radius: 10px;
}

tbody th:first-child{
  border-bottom-left-radius: 10px;
}

tr:hover{
  background-color: #fab9cf;
}

.colhead{
  width: 150px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #7e0830;
}
/*Footer has “white” text on a “black” background
Is always located at the bottom of the browser window, no matter how small the page content is. (this may take more than one line of code)
Footer is always at least 60px tall.*/
footer{
  color: white;
  width: 100%;
  background: black;
  min-height: 60px;
  position: absolute;
  text-align: center;
  display: block;
}
